version: '3.6'

services:
  database:
    container_name: postgres_container_dummy_bot
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: "${DB_NAME:-postgres}"
      POSTGRES_USER: "${DB_USER:-postgres}"
      POSTGRES_PASSWORD: "${DB_PASS:-postgres}"
    expose:
      - "5432"
    restart: always
    volumes:
      - postgres:/data/postgres
    networks:
      - postgres

  pgadmin:
    container_name: pgadmin_container_dummy_bot
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: '${PGADMIN_DEFAULT_EMAIL:-pgadmin4@pgadmin.org}'
      PGADMIN_DEFAULT_PASSWORD: '${PGADMIN_DEFAULT_PASSWORD:-admin}'
    ports:
      - "${PGADMIN_PORT:-5050}:80"
    depends_on:
      - database
    links:
      - database
    restart: always
    volumes:
      - pgadmin:/var/lib/pgadmin
    networks:
      - postgres

  redis:
    container_name: redis_container_dummy_bot
    image: redis:7-alpine
    expose:
      - "6379"
    restart: always
    networks:
      - postgres

  bot:
    container_name: bot_container_dummy_bot
    build: .
#    command: ["--env", ".env"]
    environment:
      TG_TOKEN: "${TG_TOKEN:-token}"
      DB_HOST: database
      DB_USER: "${DB_USER:-postgres}"
      DB_PASS: "${DB_PASS:-postgres}"
      DB_NAME: "${DB_NAME:-postgres}"
      REDIS_HOST: redis
    ports:
      - "443:443"
#    volumes:
#      - ./migrations:/usr/src/migrations
#      - .env:/usr/src/.env:ro
    restart: always
    depends_on:
      - database
      - redis
    networks:
      - postgres

volumes:
    postgres:
    pgadmin:
    redis:
    bot:

networks:
  postgres:
    driver: bridge